<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <dir class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our services </h1>
        <p class="text-center sub-heading">Grow your business with us</p>
         <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="our-service Settings">
                        <div class="icon">
                            <img src="image/images.png" alt="">
                        </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio et quis hic at expedita aliquid ipsa corrupti vitae quia repellat. Voluptates aliquam at consequatur voluptate debitis soluta, eius maiores? Voluptates! </p>

                        </div>

                    </div>

                </div>
               


                 <div class="col-md-4">
                <div class="box">
                    <div class="our-service settings">
                        <div class="icon">
                            <img src="image/images.png" alt="">
                        
                        </div>
                            <h4>settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio et quis hic at expedita aliquid ipsa corrupti vitae quia repellat. Voluptates aliquam at consequatur voluptate debitis soluta, eius maiores? Voluptates! </p>

                        </div>

                    </div>
                     </div>
                       <div class="col-md-4">
                <div class="box">
                    <div class="our-service settings">
                        <div class="icon">
                            <img src="image/images.png" alt="">
                        </div>
                            <h4>settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio et quis hic at expedita aliquid ipsa corrupti vitae quia repellat. Voluptates aliquam at consequatur voluptate debitis soluta, eius maiores? Voluptates! </p>

                        </div>

                    </div>
                     </div>
                          <div class="col-md-4">
                <div class="box">
                    <div class="our-service settings">
                        <div class="icon">
                            <img src="image/images.png" alt="">
                        </div>
                            <h4>settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio et quis hic at expedita aliquid ipsa corrupti vitae quia repellat. Voluptates aliquam at consequatur voluptate debitis soluta, eius maiores? Voluptates! </p>

                        </div>

                    </div>
                     </div>
                       <div class="col-md-4">
                <div class="box">
                    <div class="our-service settings">
                        <div class="icon">
                            <img src="image/images.png" alt="">
                        </div>
                            <h4>settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio et quis hic at expedita aliquid ipsa corrupti vitae quia repellat. Voluptates aliquam at consequatur voluptate debitis soluta, eius maiores? Voluptates! </p>

                        </div>

                    </div>
                     </div>
                 <div class="col-md-4">
                <div class="box">
                    <div class="our-service settings">
                        <div class="icon">
                            <img src="image/images.png" alt="">
                        </div>
                            <h4>settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio et quis hic at expedita aliquid ipsa corrupti vitae quia repellat. Voluptates aliquam at consequatur voluptate debitis soluta, eius maiores? Voluptates! </p>

                        </div>

                    </div>
                     </div>
                </div>
                   
                     
                </div>
                </div>
                


                
                
               

                </div>
            </div>
           
            </div>
            </div>
            </div>
            </dir>
            </div>
            </div>